<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('轮播图-编辑')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                房源照片
            </label>
            <div class="col-sm-10">
                <div class="img" style="display: flex;justify-content: flex-start;flex-wrap: wrap;">

                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/static/js/sys/clienthouse/detail.js}"></script>
</body>
</html>
