<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 页面</title>
  <link th:href="@{/static/css/plugins/font-awesome.css}" rel="stylesheet">
  <link th:href="@{/static/css/plugins/style.css}" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h3 class="font-bold">页面未找到!</h3>
  <div class="error-desc">
    抱歉，页面好像去火星了~
  </div>
</div>
</body>
</html>
