<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改密码')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label"> <span style="color: red;display: inline-block;">*</span>原密码</label>
            <div class="col-sm-5">
                <input id="oldPassword" name="oldPassword" class="form-control required" placeholder="请输入原密码"
                       type="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> <span style="color: red;display: inline-block;">*</span>新密码</label>
            <div class="col-sm-5">
                <input id="newPassword" name="newPassword" class="form-control required" placeholder="请输入新密码"
                       type="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"> <span style="color: red;display: inline-block;">*</span>确认新密码</label>
            <div class="col-sm-5">
                <input id="confirmPassword" name="confirmPassword" class="form-control required" placeholder="请确认新密码"
                       type="password"/>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/static/js/sys/user/updatePassword.js}"></script>
</body>
</html>
